* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  //color: var(--text-color-1);
  font-size: 32px;
}
body {
  min-height: 100vh; // 解决iOS钉钉底部会出现钉钉自带安全区的问题
  /*优化字体渲染*/
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
